body{
    background-color: rgb(255, 255, 255)
}

.container {
    width: 30rem;
    font-family: Helvetica;
}

h1,small {
    color: rgb(0, 0, 0);
}
small {
    font-size: 0.7em;
}



i.fa-trash {
	margin: 7px;
}

span {
	background: blue;
	height: 35px;
	width: 0;
	margin-right: 10px;
	margin-left: -10px;
	text-align: center;
	display: inline-block;
	color: white;
	opacity: 0;
	transition: 0.2s linear;
}

li:hover span {
	opacity: 1;
	width: 40px;
}

.paper {
    background: #fff;
    box-shadow:
      /* The top layer shadow */
      0 1px 1px rgba(192, 156, 156,0.15),
      /* The second layer */
      0 10px 0 -5px #eee,
      /* The second layer shadow */
      0 10px 1px -4px rgba(192, 156, 156, 0.15),
       /* The third layer */
      0 20px 0 -10px #eee,
      /* The third layer shadow */
      0 20px 1px -9px rgba(192, 156, 156, 0.15);

  }