body{
    background-color: rgb(255, 255, 255)
}

.container {
    width: 30rem;
    font-family: Helvetica;
}

h1,small {
    color: rgb(0, 0, 0);
}
small {
    font-size: 0.7em;
}

button {
	opacity: 0;
	transition: 0.2s linear;
}

li:hover button {
	opacity: 1;
	
}